<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Villes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Liste des Villes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ville : ${villes}">
            <td th:text="${ville.id}"></td>
            <td th:text="${ville.name}"></td>
            <td th:text="${ville.description}"></td>
            <td>
                <img th:src="'data:image/png;base64,' + ${ville.imagesVille}" style="width: 100px; height: 100px;"/>
            </td>
            <td>
                <a th:href="@{/ville/deleteVille/{id}(id=${ville.id})}" class="btn btn-danger"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ville ?');">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/ville/add" class="btn btn-success">Ajouter une Ville</a>
</div>
</body>
</html>